@model List<webbannongsan.Models.Product>
@{
    ViewBag.Title = "Trang chủ";

}
<div>
    <div class="homeindex">
        <div class="display">
            <div class="text">
                <p class="sale" >Mã giảm giá 50%</p>
                <h2>Siêu Thị Tạp Hóa Tươi Sống</h2>
                <p>Mô hình tạp hóa tươi sống và hệ thống giao hàng tiên lợi</p>
                <a href="/Product/Product">Mua ngay</a>
            </div>
            <div class="image">
                <img src="~/image/imagedisplay.jpg">              
                <img class="orange" src="~/image/orange.png">
            </div>
        </div>
        <div>
            <h2>Sản phẩm giảm giá</h2>
            <div class="product-list">
                @foreach (var item in Model)
                {
                    <div class="product-item">

                        <div class="product-image">
                            <img src="~/image/product/@item.Image" alt="@item.ProductName" />
                        </div>

                        <div class="product-details">
                            <h2 class="product-name">@item.ProductName</h2>
                            <p class="product-price">@item.Price.ToString("N0") VND</p>
                            <div class="product-actions">

                                <form method="get" action="~/Product/DetailProduct">
                                    <button type="submit" name="detailPrID" value="@item.ProductID">Chi tiết</button>
                                </form>
                                <form method="get" action="#">
                                    <button type="submit" name="buyNow" value="@item.ProductID">Mua ngay</button>
                                </form>
                            </div>


                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<link href="~/Content/index.min.css" rel="stylesheet" />


