@model List<webbannongsan.Models.Account>
@{
    ViewBag.Title = "ListAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-center">AccountID</th>
                <th class="py-3 px-6 text-center">Hình ảnh</th>
                <th class="py-3 px-6 text-center">Họ và tên</th>
                <th class="py-3 px-6 text-center">Email</th>
                <th class="py-3 px-6 text-center">Số điện thoại</th>
                <th class="py-3 px-6 text-center">Trạng thái</th>
                <th class="py-3 px-6 text-center">Quyền hạn</th>
                <th class="py-3 px-6 text-center">Hành động</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            @foreach (var item in Model)
            {
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-4 px-6 text-center">@item.AccountID</td>
                    <td class="py-4 px-6 text-center">
                        <img src="@item.Avatar" alt="Avatar" class="h-12 w-12 object-cover rounded-full mx-auto" />
                        <a href="/Admin/ManagerAccount/UpdateImage?AccountID=@item.AccountID" class="text-blue-500 hover:underline" title="Thêm ảnh">
                            <i class="fas fa-upload"></i>
                        </a>
                    </td>
                    <td class="py-4 px-6 text-center">@($"{item.FirstName} {item.LastName}")</td>
                    <td class="py-4 px-6 text-center">@item.Email</td>
                    <td class="py-4 px-6 text-center">@item.PhoneNumber</td>
                    <td class="py-4 px-6 text-center">@item.Status</td>
                    <td class="py-4 px-6 text-center">@item.RoleID</td>
                    <td class="py-4 px-6 text-center">
                        <a href="/Admin/ManagerAccount/UpdateAccount?AccountID=@item.AccountID" class="text-blue-500 hover:underline" title="Sửa">
                            <i class="fas fa-edit"></i>
                        </a>
                        <span class="mx-2"></span>
                        <a href="/Admin/ManagerAccount/DeleteAccount?AccountID=@item.AccountID" class="text-red-500 hover:underline" title="Xóa">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Thêm link đến Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMo3LPe0C6NfuTH77IfG3oUP7rZ0B8VY2F1QJ3" crossorigin="anonymous">
