@model webbannongsan.Models.Account
@{
    ViewBag.Title = "Prorfile";

}

<h2>Prorfile</h2>
<div class="container mt-4">
    <div class="row">
        <!-- Phần bên trái -->
        <div class="col-md-4">
            <h2>Profile</h2>
            <img src="" style="width:50px;" class="img-fluid rounded-circle" alt="Profile Image" />
            <h2>@Model.FirstName @Model.LastName</h2>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Thông tin tài khoản</a>
                <a href="#" class="list-group-item list-group-item-action">Địa chỉ hiện tại</a>
                <a href="@Url.Action("ChangePassword", "Account")" class="list-group-item list-group-item-action">Đổi mật khẩu</a>

                <a href="#" class="list-group-item list-group-item-action">Đơn hàng</a>
                <a href="#" class="list-group-item list-group-item-action">Đăng xuất</a>
            </div>
        </div>

        <!-- Phần bên phải -->
        <div class="col-md-8">
            <h2>Thông tin tài khoản</h2>
            <form action="/Account/Register" method="post">
                <input type="hidden" name="__RequestVerificationToken" value="TOKEN_HERE">

                <div class="form-group">
                    <label for="ho">Họ:</label>
                    <input type="text" id="ho" name="FirstName" class="form-control" value="@Model.LastName" required>
                </div>

                <div class="form-group">
                    <label for="ten">Tên:</label>
                    <input type="text" id="ten" name="LastName" class="form-control" value="@Model.FirstName" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="Email" class="form-control" value="@Model.Email" required>
                </div>

                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                    <input type="text" id="phone" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" required>
                </div>

                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>
        </div>
    </div>
</div>





