@model webbannongsan.Models.Product
@{
    ViewBag.Title = "UpdateProduct";

}

<form class="form-horizontal" method="post" action="/Admin/ProductAdmin/UpdateProduct">
    @Html.HiddenFor(m=>m.ProductID)
    <div class="form-group">
        <label class="control-label col-sm-2" for="ProductName">Tên sản phẩm:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model.ProductName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Price">Giá:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Image">Hình ảnh:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Image" name="Image" value="@Model.Image">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Quantity">Số lượng:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Detail">Mô tả:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Detail" name="Detail" value="@Model.Detail">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="PostingDate">Ngày đăng:</label>
        <div class="col-sm-10">
            <input type="datetime-local" class="form-control" id="PostingDate" name="PostingDate" value="@string.Format("{0:yyyy-MM-dd HH:mm}",  Model.PostingDate)">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Unit">Đơn vị:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Unit" name="Unit" value="@Model.Unit" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="category">Danh mục:</label>

        <select id="category" name="categoryname">

            @foreach (var category in ViewBag.categories)
            {
                <option  value="@category.Name" @(ViewBag.categoryName==category.Name? "selected":"")>@category.Name</option>

            }
        </select>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p>@ViewBag.error</p>
            <button type="submit" class="btn btn-default">Lưu</button>
        </div>
    </div>
</form>

